<div class="item">
    <div>Avatar URL</div>
        <div>
            <input 
            type="url" 
            name="avatar_url" 
            placeholder="http://"
            value="{{teacher.avatar_url}}"
            >
        </div>
    </div>

    <div class="item">
        <div>Full Name</div>
        <div>
            <input 
            type="text" 
            name="name"
            placeholder="Seu Nome"
            value="{{teacher.name}}"
            >
        </div>
    </div>

    <div class="item">
        <div>Birthdate</div>
        <div>
            <input 
            type="date"
            name="birth_date"
            value="{{teacher.birth_date}}"
            >
        </div>
    </div>

    <div class="item">
        <div>Educational level</div>
        <div>
            <select name="education_level" >
                <option 
                    value="esi"
                    {% if teacher.education_level == "esi" %}
                    selected
                    {% endif %}
                >Incomplete Higher Education</option>
                <option 
                    value="esc"
                    {% if teacher.education_level == "esc" %}
                    selected
                    {% endif %}
                    >Complete Higher Education</option>
                <option
                    value="m"
                    {% if teacher.education_level == "m" %}
                    selected
                    {% endif %}
                    >Master's</option>
                <option 
                    value="d"
                    {% if teacher.education_level == "d" %}
                    selected
                    {% endif %}
                    >Doctorate degree</option>
            </select>
        </div>
    </div>

    <div class="item">
        <div>Class type</div>
        <div>
            <span><input 
            type="radio" 
            name="classtype" 
            value="P"
            {% if teacher.classtype == "P" %}
            checked
            {% endif %}
            >Presential</span>
            <span><input 
            type="radio" 
            name="classtype" 
            value="D"
            {% if teacher.classtype == "D" %}
            checked
            {% endif %}
            >Distance</span>
        </div>
    </div>

    <div class="item">
        <div>Subjects taught</div>
        <div>
            <input type="text"
            name="subjects_taught"
            placeholder="Ex.: Musculação, Crosfit"
            value="{{teacher.subjects_taught}}"
            >

        </div>
    </div>

    <button type="submit">Save</button>