{% extends 'layout.njk' %}

{% block content %}

    <div class="card table-container">
        <div class="header">
            <a href="/teachers/create">New</a>
            <form action="/teachers" method="GET">
                <input
                type="text"
                name="filter"
                placeholder="Filtrar">
                <button type="submit">Filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>teacher</th>
                    <th>Atendimento</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td><span style="background-image: url({{teacher.avatar_url}})" ></span></td>
                        <td>{{teacher.name}}</td>
                        <td>{{teacher.subjects_taught}}</td>
                        <td><a href="/teachers/{{teacher.id}}">ir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    
{% endblock content %}